<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Clinica</title>
</head>

<body>
  <header>
    <h1 class="title">Clínica MedSalud</h1>
    <nav class="nav1">
      <ul class="nav">
        <li><a><i class="fa-solid fa-user "></i></a>
          <ul>
            <li><a href="">Iniciar Sesion</a></li>
            <li><a href="">Registrarse</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <hr>
    <nav class="flex-container">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./clinica.html">La Clínica</a></li>
        <li><a href="./servicios.html">Servicios</a></li>
        <li><a href="./situacionesDeEmergencia.html">Situaciones de Emergencia</a></li>
        <li><a href="./testDiagnostico.html">Test Diagnósticos</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="flex-clinica">
      <h1>Nuestra clinica</h1>
      <p>Al servicio de nuestros pacientes desde el año 2010</p>
      <div class="flex-subClinica">
        <p>Clinica MedSalud brinda a los pacientes instalaciones de vanguardia y los profesionales de la salud de mayor
          experiencia y dedicación en Madrid. Desde que abrimos
          nuestras puertas a los primeros pacientes, nuestra misión ha sido brindar atención de calidad en un entorno
          seguro. Así hemos obtenido una reputación como el(la) mejor
          Clínica médica en el área.</p>
        <p>Estamos a su disposición cuando otros no lo están. Minimizamos los tiempos de espera y hacemos todo lo
          posible para ofrecer proveedores de guardia y citas el mismo día,
          cuando es posible. Póngase en contacto para saber más al respecto.</p>
      </div>
    </div>
    <img class="clinicaImg" src="../assets/img/medicine-gbb56d05a6_1920.jpg" alt="Paciente">
  </main>
  <footer>

  </footer>
</body>
<script src="https://kit.fontawesome.com/9fd1a302e2.js" crossorigin="anonymous"></script>

</html>