<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../styles/styles.css">
  <title>Document</title>
</head>

<body>
  <header>
    <h1 class="title">Clínica MedSalud</h1>
    <nav class="nav1">
      <ul class="nav">
        <li><a href=""><i class="fa-solid fa-user"></i></a>
          <ul>
            <li><a href="">Iniciar Sesion</a></li>
            <li><a href="">Registrarse</a></li>
          </ul>
        </li>
      </ul>
    </nav>
    <hr>
    <nav class="flex-container">
      <ul>
        <li><a href="../index.html">Inicio</a></li>
        <li><a href="./clinica.html">La clinica</a></li>
        <li><a href="./servicios.html">Servicios</a></li>
        <li><a href="./situacionesDeEmergencia.html">Situaciones de Emergencia</a></li>
        <li><a href="./testDiagnostico.html">Test Diagnóstico</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="serviciosMenu">
      <div class="serviciosSubMenu"><a href="./citasMedicas.html"><i class="fa-solid fa-hospital fa-5x"></i>
          <h2>Citas Médicas</h2>
        </a></div>
      <div class="serviciosSubMenu"><a href="./donarSangre.html"><i class="fa-solid fa-briefcase-medical fa-5x"></i>
          <h2>Donación de Sangre</h2>
        </a></div>
      <div class="serviciosSubMenu"><a href="./historialMedico.html"><i
            class="fa-solid fa-file-waveform fa-5x"></i>
          <h2>Historial Médico</h2>
        </a></div>
    </div>
  </main>
  <footer>
    <div class="footer">
      <h2>Redes Sociales</h2>
      <div class="footerIcons">
        <span class="footerSubIcons"><i class="fa-brands fa-facebook"></i></span>
        <span class="footerSubIcons"><i class="fa-brands fa-twitter"></i></span>
        <span class="footerSubIcons"><i class="fa-brands fa-instagram"></i></span>
      </div>
    </div>
  </footer>
</body>
<script src="https://kit.fontawesome.com/9fd1a302e2.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/c7e1a938a5.js" crossorigin="anonymous"></script>

</html>