<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test de intoxicación por alimentos</title>
</head>
<body>
    <h1>Test de intoxicación por alimentos.</h1>
    <p>En este espacio encontrará un test para saber si presenta los sintomas de intoxicación por alimentos</p>
    <h2>¿Qué es la intoxicación por alimentos?</h2>
    <p>La intoxicación alimentaria, también denominada «enfermedad transmitida por los alimentos», es una enfermedad provocada por comer alimentos contaminados. Las causas más frecuentes de intoxicación alimentaria son los organismos infecciosos —entre ellos, bacterias, virus y parásitos— o sus toxinas.</p>
    <p>Fuente: Mayo Clinic.</p>
    <h1>Test</h1>
    <form>
        <fieldset><legend>¿Presenta diarrea?</legend>
            <input type="radio" name="diarrea" value="Si">Si
            <input type="radio" name="diarrea" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta vómito?</legend>
            <input type="radio" name="vomito" value="Si">Si
            <input type="radio" name="vomito" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta dolor en el abdomen?</legend>
            <input type="radio" name="dolor abdomen" value="Si">Si
            <input type="radio" name="dolor abdomen" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta fiebre?</legend>
            <input type="radio" name="fiebre" value="Si">Si
            <input type="radio" name="fiebre" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta dolor de cabeza?</legend>
            <input type="radio" name="dolor de cabeza" value="Si">Si
            <input type="radio" name="dolor de cabeza" value="No">No
        </fieldset> <br>
        <p><b>Sí ingirió alimentos como pescado o mariscos,¿presenta algunos de estos síntomas?</b></p> <br>
        <fieldset><legend>¿Presenta parálisis (hormigeo en la piel)?</legend>
            <input type="radio" name="parálisis" value="Si">Si
            <input type="radio" name="parálisis" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta debilidad?</legend>
            <input type="radio" name="debilidad" value="Si">Si
            <input type="radio" name="debilidad" value="No">No
        </fieldset> <br>
        <input type="button" id="boton" value="Aceptar">
        <button type="button" id="boton2">Validar</button>
        <button type="submit" id="enviar">Enviar</button>
    </form>
    </form>
</body>
</html>