<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Test Viruela del Mono</title>
</head>
<body>
    <h1>Test viruela símica</h1>
    <p>En este espacio encontrará un test para saber si presenta los sintomas de la viruela del mono.</p>
    <h2>¿Qué es la viruela símica?</h2>
    <p>La viruela símica es una enfermedad causada por el virus de la viruela símica. Se trata de una infección zoonótica vírica, lo que significa que puede propagarse de animales a seres humanos. También puede propagarse de persona a persona.</p>
    <p>Fuente: Organización Mundial de la Salud (OMS).</p>
    <h1>Test</h1>
    <form>
        <fieldset><legend>¿Presenta fiebre?</legend>
            <input type="radio" name="fiebre" value="Si">Si
            <input type="radio" name="fiebre" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta dolor de cabeza?</legend>
            <input type="radio" name="DDC" value="Si">Si
            <input type="radio" name="DDC" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta dolores musculares?</legend>
            <input type="radio" name="dolores musuclares" value="Si">Si
            <input type="radio" name="dolores musuclares" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presesta falta de energía?</legend>
            <input type="radio" name="falta de energía" value="Si">Si
            <input type="radio" name="falta de energía" value="No">No
        </fieldset> <br>
        <fieldset><legend>¿Presenta erupciones en la cara, palma de manos o pies, ojos, boca, cuello, ingle, regiones genitales o anales?</legend>
            <input type="radio" name="erupciones" value="Si">Si
            <input type="radio" name="erupciones" value="No">No
        </fieldset> <br>
        <input type="button" id="boton" value="Aceptar">
        <button type="button" id="boton2">Validar</button>
        <button type="submit" id="enviar">Enviar</button>
    </form>
</body>
</html>