*{
    font-family:'Poppins', sans-serif; 
    padding: 0px;
    margin: 0px;

}

body{
    background: -webkit-linear-gradient(left,#C4A3C1,#DEDAD7);
    height: 100%;
    
    
}

.box1{
    
    width: 100%;
    height: auto;
    padding: 2px;
    color:black;
    border:auto solid white;
    font-family:'Poppins', sans-serif; 
    text-align: center;
    font-size: 30px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.text{

    font-family:'Poppins', sans-serif; 
    font-size: 15px;
    line-height: 2;
    text-align: center;
}

.form{
    margin: -10vh 30vw;
    background: #AF98C4;
    border-radius: 10px;
    text-align: justify;
    padding: 10px;
}

